
/* resume desktop */
.resume h3 {
    margin: 50px 0;
}

.resume-list {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding-bottom: 10%;
    column-gap: 20px;
}

/* working experiences desktop */

.working-experience {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.working-experience h2 {
    font-size: 1.2rem;
    margin: 25px 0 0;
    height: auto;
}

.working-experience div {
    height: auto;
}

.working-name {
    margin: 0 20px 0 0;
}

.working-name h5 {
    margin: 10px 0 0;
    font-size: 1.2rem;
    color: RGB(98,195,219);
}

.working-name p {
    margin-top: 0;
}


/* description desktop */

.working-description p {
    margin-top: 10px;
    padding-top: 5px;
}


/* extra info desktop*/

.extra-info {
    margin-left: 20px;
}

.extra-info div {
    height: auto;
}

.extra-info h2 {
    font-size: 1.2rem;
    margin: 25px 0 0;
}

.extra-info ul {
    padding-left: 10px;
}

.extra-info li {
    list-style-type: none;
    margin-top: 10px;
}

/* resume mobile */

@media only screen and (max-width: 480px) {

    .resume {
        display: flex;
        flex-direction: column;
    }

    .resume h3 {
        margin: 1.5rem 0 0.5rem;
    }

    .resume-list {
        grid-template-columns: 1fr;
    }

    .working-experience {
        grid-template-columns: 1fr;
    }

    .working-name {
        text-align: start;
    }

    .working-name p {
        font-size: 0.75rem;
        font-weight: bold;
        margin-bottom: 8px;
    }

    .working-description p {
        margin-top: 0;
        padding-top: 0;
    }

    .extra-info {
        margin-left: 0;
    }

    .working-space {
        display: none;
    }

}
