
/* home path computer */
.home-path {
    background-image: url('../Pictures/jorritlandschap_medium.jpg');
    background-size: 100%;
}

.home {
    color: white;
}

.home-link {
    color: white;
}

.outlet-home {
    justify-self: end;
    margin: 15% 0 0 0;
    padding: 0 5% 0 15%;
    font-size: 2.5rem;
    width: 40%;
}

/* home path navigation bar computer */
.home-path .navBar-parent {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}

.home-path .navBar {
    border-bottom: 1px solid white;
}

.home-path .home-h1 {
    color: white;
}

.home-path .activeNavLink {
    color: white;
}

.home-path .inactiveNavLink {
    color: white;
}

/* home path mobile */
@media only screen and (max-width: 480px) {
    .home-path {
        background-size: auto 100%;
        background-position: 40%
    }

    .home-path .nameMob {
        color: white;
    }

    .outlet-home {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .home {
        margin: 0 3%;
        padding: 0;
    }
}
