
/* home path desktop */
/* .home-path {
    background-image: url('../Pictures/jorritlandschap_high.jpg');
    background-size: auto 130%;
} */

/* .home {
    color: white;
} */

/* .home p {
    font-family: 'space grotesk';
} */

/* .home-link {
    color: white;
} */

/* outlet home desktop */

/* .outlet-home {
    justify-self: end;
    margin: 15% 0 0 0;
    padding: 0 10%;
    font-size: 2.5rem;
    width: 35%;
} */

/* @media (max-width: 1500px) {
    .outlet-home {
        margin: 10% 0 0 0;
    }
} */

/* home path navigation bar desktop */
/* .home-path .navBar-parent {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}

.home-path .navBar {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.home-path .home-h1 {
    color: white;
}

.home-path .activeNavLink {
    color: white;
}

.home-path .inactiveNavLink {
    color: white;
} */

/* home path mobile */
@media only screen and (max-width: 480px) {
    
    .home-path {
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../Pictures/jorritlandschap_high.jpg');
        background-size: auto 130%;
        background-position: 25% 0;
    }

    .home-path .nameMob {
        color: white;
    }

    .outlet-home {
        display: flex;
        justify-content: center;
        align-content: center;
        justify-self: center;
        width: 80%;
        height: 110%;
        margin: 0;
        padding: 0;
    }

    .home {
        margin: 0;
        padding: 0;
    }
}
