/* pull request example */
/* to do list desktop */

.to-do-list {
    display: grid;
}

/* create a task desktop */

.add-task {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.task-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

input {
    margin: 10px 0;
}

#task-name {
    width: 300px;
}

#task-description {
    height: 100px;
    width: 300px;
    resize: none;
}

#add-task-submit {
    width: 100%;
    margin-top: 20px;
    font-size: 1.5rem;
    align-self: center;
}

/* tasklist desktop */

.tasks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.to-do,
.in-progress,
.finished {
    min-width: 400px;
    margin: 0 10px;
}

.tasks h3 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    padding-bottom: 5px;
}

.task-list {
    min-height: 100%;
}

/* individual task desktop */

.task {
    border: 2px solid rgba(128, 128, 128, 0.2);
    border-radius: 25px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-rows: minmax(100px, 1fr) 30px;
    padding: 2% 5%;
    margin: 10px 0;
}

.task h4 {
    font-size: 1.25rem;
    margin: 20px 0;
}

.to-do .move-to-to-do {
    display: none;
}

.in-progress .move-to-in-progress {
    display: none;
}

.finished .move-to-finished {
    display: none;
}

/* task text layout desktop */

.task h3 {
    margin: 0 0 10px;
}

.task p {
    margin: 0 0 15px;
}

/* task buttons desktop */

.task-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.task-button {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.task-button-description {
    display: flex;
    align-items: center;
    font-size: 0.75rem;
}

.task-button p {
    margin: 0 0 0 5px;
}

.task img {
    width: 20px;
    height: auto;
    margin: 5px 0;
}

/* logout button desktop */

.logout-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.logout-container button {
    font-size: 1.5rem;
}

/* to do list mobile */

@media only screen and (max-width: 480px) {

    /* taskmaker mobile */

    .logout-container {
        margin: 0;
    }

    .logout-container button {
        font-size: 1rem;
    }

    .task-input {
        justify-content: center;
    }

    #submit-task-button {
        height: 50px;
        margin: 10px 33%;
    }

    /* tasklist mobile */

    .tasks {
        display: flex;
        flex-direction: column;
    }

    .to-do,
    .in-progress,
    .finished {
        min-width: 100%;
        margin: 0 0 50px;;
    }

    .to-do-list h2 {
        text-align: center;
    }

    /* individual task mobile */

    .task h3 {
        font-size: 1.25rem;
    }

    .task p {
        font-size: 1rem;
    }

    .task-button p {
        font-size: 0.6rem;
    }

    .logout-container {
        margin-bottom: 50px;
    }

    .logout-container button {
        font-size: 1.5rem;
    }

}