/* travel desktop */

/* .travel {
    margin: 0 0 5%;
    width: 90%;
} */

/* .travel h2 {
    margin: 50px 0;
} */

/* .travel-box {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
} */

/* travel introduction box desktop*/

/* .travel-year-introduction {
    display: flex;
    flex-direction: row;
    padding: 3% 0;
} */

/* .travel-year-intro-info {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "year photo"
        "title photo"
        "countries photo"
        "expand photo";
} */

/* travel year number desktop */

/* .travel-year {
    grid-area: year;
    font-weight: bold;
}

.travel-year p {
    margin: 0;
    color: RGB(98,195,219);
    font-family: 'space grotesk';
    font-size: 1.5rem;
} */

/* travel title desktop */

/* .travel-title {
    grid-area: title;
    font-size: 2rem;
    display: flex;
    align-items: center;
    padding-right: 5%;
}

.travel-title h4 {
    margin: 0;
} */

/* travel visited countries desktop */

/* .travel-countries {
    grid-area: countries;
    padding-right: 5%;
}

.flag {
    width: 20px;
    margin-right: 3px;
}

.country-container {
    display: inline-flex;
    margin: 0 10px 10px 0;
    padding: 6px 15px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

.country-container p {
    margin: 0;
} */

/* travel read more button desktop */

/* .travel-extend-box {
    grid-area: expand;
    display: flex;
    align-self: end;
}

.travel-extend-box div {
    font-family: 'space grotesk';
    border: 1px solid black;
    padding: 0 5px;
}

.read-more-less {
    display: flex;
    align-items: center;
}

.read-more-less-arrow {
    font-size: 12px;
    margin-left: 5px;
} */

/* travel introduction photo desktop */

/* .travel-year-intro-photo {
    height: 400px;
    grid-area: photo;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.travel-year-intro-photo img {
    max-height: auto;
    max-width: 100%;
} */

/* travel story desktop*/

/* .year-story {
    width: 60%;
    margin: 4% 0 5% 0;
}

.year-story p {
    margin: 0 0 15px;
} */

/* travel photos desktop*/

/* .year-photos {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0F0F0;
    padding: 5%;
    margin-bottom: 5%;
} */

/* .travel-photo {
    width: 110%;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .photo-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5%;
} */

/* .photo-section p {
    margin: 16px 0 0;
}

.travel-photo-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.travel-photo-container img {
    max-height: auto;
    max-width: 100%;
    margin: 0;
} */

/* travel select different photo desktop */

/* .differentPhoto {
    width: 20px;
    height: auto;
    cursor: pointer;
}

.previousPhoto {
    transform: rotate(180deg);
} */

/* laptop screen */

@media (max-width: 1500px) {
    .year-photos {
        padding: 10%;
    }
}

/* travel mobile */
@media (max-width: 480px) {

    .travel {
        width: 95%;
        padding: 0;
    }

    .travel-box {
        width: 100%;
        margin-bottom: 20px;
    }

    /* travel introduction box mobile */

    .travel-year-intro-info {
        padding-top: 20px;
        grid-template-columns: 1fr;
        grid-template-areas:
            "year"
            "title"
            "photo"
            "countries"
            "expand";
    }

    .travel-year-intro-info div {
        margin-bottom: 10px;
    }

    /* travel introduction photo mobile */

    .travel-year-intro-photo {
        height: 250px;
        padding: 0;
        max-width: 100%;
    }

    .travel-year-intro-photo img {
        padding: 0;
        max-width: 100%;
    }

    /* travel countries visited mobile */

    .travel-countries {
        margin-bottom: 20px;
    }

    .travel-countries p {
        font-size: 1rem;
    }
    

    /* travel story mobile */

    .year-story {
        column-count: 1;
        padding: 0;
        text-align: justify;
        width: 100%;
    }

    /* travel photos mobile */

    .year-photos {
        padding: 50px 0 0;
    }

    .travel-photo {
        width: 100%;
        display: grid;
        grid-template-areas:
            "photo-section photo-section"
            "previousPhoto nextPhoto";
    }

    .photo-section {
        grid-area: photo-section;
        margin: 0;
        text-align: center;
    }

    .travel-photo-container img {
        max-height: 100%;
        max-width: 100%;
    }

    .photo-description {
        height: 70px;
    }

    /* travel select different photo mobile */

    .previousPhoto {
        grid-area: previousPhoto;
    }

    .nextPhoto {
        grid-area: nextPhoto;
        justify-self: end;
    }

    .differentPhoto {
        width: 30px;
        margin: 0 0 50px;
        padding: 0 20px;
    }

}