body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

button {
  border-radius: 5px;
  cursor: pointer;
}

div::-webkit-scrollbar {
  width: 0.5em;
  border-radius: 5px;
}

div::-webkit-scrollbar-thumb {
  background-color: #9fa9bd;
  border-radius: 5px;
}

html {
  margin: 0;
  padding: 0;
  border: 5px solid black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
