/* sign up desktop */

/* .sign-up-form {
    display: flex;
    flex-direction: column;
} */

/* .sign-up-form h2 {
    text-align: center;
}

#sign-up-submit {
    margin: 50px 0 0;
} */

/* .green {
    color: green;
}

.red {
    color: red;
}  */

/* sign up mobile */

@media (max-width: 480px) {
    /* .sign-up {
        width: 90%;
    }

    #sign-up-submit {
        width: 50%;
        align-self: center;
    } */
}