
.skills a {
    color: RGB(98,195,219);
}

/* my skills computer */
.skills {
    width: 60%;
}

.skills p {
    font-size: 1rem;
}

.skills-intro, .modules, .certificate {
    margin-bottom: 60px;
}

.skills-intro {
    width: 70%;
}

/* codecademy modules computer */
.modules {
    display: grid;
    grid-template-areas: 
        'module1 module2'
        'module3 module4';
}

.module1 {
    grid-area: module1;
}

.module2 {
    grid-area: module2;
}

.module3 {
    grid-area: module3;
}

.module4 {
    grid-area: module4;
}

.modules h4 {
    margin-bottom: 0;
}

.modules ul {
    margin-top: 10px;
    padding-left: 20px;
}

/* codecademy certificate computer */
.certificate-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.certificate-container img {
    width: 100%;
}

/* github reference */
.github {
    width: 70%;
    margin-bottom: 15%;
}


/* skills mobile */

 @media (max-width: 480px) {
    .skills {
        width: 90%;
    }

    .skills p {
        font-size: 0.9rem;
    }

    .modules {
        grid-template-areas: 
            'module1'
            'module2'
            'module3'
            'module4';
        gap: 0 50px;
    }

    .certificate-container img {
        width: 100%;
    }
}