/* pull request example */
.skills a {
    color: RGB(98,195,219);
}

/* my skills desktop */

.skills {
    width: 90%;
}

.skills h2 {
    margin: 50px 0;
}

.skills p {
    font-size: 1rem;
}

.skills-intro, .modules, .certificate {
    margin-bottom: 60px;
}

.skills-intro {
    width: 70%;
    margin-bottom: 2%;
}

.skills-intro h3 {
    margin-bottom: 1%;
}

/* codecademy modules desktop */
.modules {
    display: grid;
    grid-template-areas: 
        'module1 module2'
        'module3 module4';
    width: 80%;
}

.module1 {
    grid-area: module1;
}

.module2 {
    grid-area: module2;
}

.module3 {
    grid-area: module3;
}

.module4 {
    grid-area: module4;
}

.modules h4 {
    margin-bottom: 0;
}

.modules ul {
    margin-top: 10px;
    padding-left: 20px;
}

/* codecademy certificate desktop */
.certificate-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.certificate-container img {
    width: 100%;
}

/* github reference desktop */
.github {
    width: 70%;
    margin-bottom: 15%;
}


/* skills mobile */

 @media (max-width: 480px) {
    .skills {
        width: 100%;
    }

    .skills p {
        font-size: 0.9rem;
        text-align: justify;
    }

    .skills-intro {
        width: 100%;
        margin: 40px 0;
    }

    .modules {
        grid-template-areas: 
            'module1'
            'module2'
            'module3'
            'module4';
        gap: 0 50px;
    }

    .certificate-container img {
        width: 100%;
    }

    .github {
        width: 100%;
    }
}